language = "python"
run = "poetry run python3 main.py"
entrypoint = "main.py"

[packager]
language = "python3"
[packager.features]
enabled = true
guessImports = true

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 81
externalPort = 80

